
// $primary-color-dark:   #FFA000;
// $primary-color:        #FFC107;
// $primary-color-light:  #FFECB3;
// $primary-color-text:   #212121;
// $accent-color:         #607D8B;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;
// background: linear-gradient(0deg, #171717 20.35%, rgba(23, 23, 23, 0) 100%);
//  linear-gradient(0deg, #171717 63.95%, rgba(23, 23, 23, 0) 100%);
// border-radius: 4px;

// colors
$color-primary: #E73348;
$color-secondary: #4968AD;
// text
$color-text: #311746;

// gradients
$card-gradient: linear-gradient(0deg, #171717 20.12%, rgba(23, 23, 23, 0) 100%);
$card-gradient-hover:  linear-gradient(0deg, #171717 63.95%, rgba(23, 23, 23, 0) 100%);
// fonts
$font-primary: 'NoirPro', sans-serif;
// $font-heading: 'Montserrat', sans-serif;
// $font-accent: 'Parisienne';
